<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to "Le Bon Coin", root_path %>

  <ul class="list-unstyled list-inline">
      <li><%= link_to  'DEPOSER UNE ANNONCE', new_advert_path %></li>
      <li><%= link_to  'OFFRES', offres_path %></li>
      <li><%= link_to  'DEMANDES', demandes_path %></li>
      <li><%= link_to  'MES ANNONCES', "#" %></li>
      <li><%= link_to  'BOUTIQUE', "#" %></li>
  </ul>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>


      <!-- Profile picture and dropdown -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <h5 class="avatar dropdown-toggle", id="navbar-wagon-menu", data-toggle = "dropdown" ><%=current_user.nickname.present? ? current_user.nickname : truncate(current_user.email, length: 6)%></h5>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to user_path(current_user) do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

    <% else %>

      <!-- Login text link -->
      <%= link_to t(".sign_in", default: "Se connecter"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>

    <% end %>


  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>

