<% @adverts.each do |advert| %>
  <% if advert.published? %>
    <div class="advert_frame">
      <%= link_to advert_path(advert) do  %>
        <div class="col-xs-10 col-xs-offset-1 advert">
          <div class="col-xs-4">
            <% advert.photos.each_with_index do |photo, index| %>
              <% if index == 0 %>
                <%= cl_image_tag photo.path, width: 200, height: 150, crop:"fill" %>
              <% end %>
            <% end %>
          </div>
          <div class="col-xs-6">
            <h4> <%= advert.title %></h4>
            <p><%= advert.location %></p>
            <b><%= advert.price %>€</b>
          </div>
          <div class="col-xs-2">
            <i class="fa fa-heart"></i>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>

